<app-navbar></app-navbar>

<div class="display">
    <div class="d-flex align-items-center justify-content-center">
        <div class="card">
            <div class="card-header">Reset Password</div>
            <div class="card-body">
                <form [formGroup]="editPassword" (submit)="resetPW()">
                    <div>
                        <label class="form-label">Enter Your Email</label>
                        <input type="email" formControlName="email" class="form-control"/>
                    </div>
                    <div>
                        <label class="form-label">Enter Current Password</label>
                        <input  type="password" formControlName="currPW" class="form-control"/>
                    </div>
                    <div>
                        <label class="form-label">Enter New Password</label>
                        <input type="password" formControlName="newPW" class="form-control"/>
                    </div>
                    <div>
                        <label class="form-label">Re-Enter New Password</label>
                        <input type="password" formControlName="reNewPW" class="form-control"/>
                    </div>
                    
                    <button id="updatepw" class="btn btn-primary">Update Password</button>
                <br/>
                </form>
            </div>
        </div>
    </div>
</div>

