<app-navbar></app-navbar>
<table class="table table-striped" id="cart-table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody id="cart-table-body">
        <tr *ngFor="let product of products;">
            <td>{{product.product.id}}</td>
            <td>{{product.product.name}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.product.description}}</td>
        </tr>
    </tbody>
</table>
<form id="checkout-form" [formGroup]="checkoutForm">
    <h3>Payment Details</h3>
    <div class="form-group">
        <label for="inputCardName">Name on Card</label>
        <input type="text" class="form-control" formControlName="cardName" id="inputCardName" placeholder="Enter Name on Card">
    </div>
    <div class="form-group">
        <label for="inputDetail">Card Number</label>
        <input type="text" class="form-control" formControlName="detail" id="inputDetail" placeholder="Enter Name on Card">
    </div>
    <h3>Billing Address</h3>
    <div class="form-group">
        <label for="inputFirstName">First Name</label>
        <input type="text" class="form-control" formControlName="fname" id="inputFirstName" placeholder="Enter First Name">
        <label for="inputLastName">Last Name</label>
        <input type="text" class="form-control" formControlName="lname" id="inputLastName" placeholder="Enter Last Name">
    </div>
    <div class="form-group">
        <label for="inputAddressOne">Address 1</label>
        <textarea class="form-control" formControlName="addOne" id="inputAddressOne" placeholder="Enter Primary Address"></textarea>
    </div>
    <div class="form-group">
        <label for="inputAddressTwo">Address 2</label>
        <textarea class="form-control" formControlName="addTwo" id="inputAddressTwo" placeholder="Enter Secondary Address"></textarea>
    </div>
    <div class="form-group">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" formControlName="city" id="inputCity" placeholder="Enter City">
        <label for="inputState">State</label>
        <input type="text" class="form-control" formControlName="state" id="inputState" placeholder="Enter State">
    </div>
    <div class="form-group">
        <label for="inputZipCode">Zip Code</label>
        <input type="text" class="form-control" formControlName="zipCode" id="inputZipCode" placeholder="Enter Zipcode">
        <label for="inputCountry">Country</label>
        <input type="text" class="form-control" formControlName="country" id="inputCountry" placeholder="Enter Country">
    </div>
    <button class="btn btn-danger" [routerLink]="['/home']">Continue Shopping</button>
    <button class="btn btn-primary" (click)="onSubmit()">Checkout (${{totalPrice}})</button>
</form>
